# NumPy Computations

In [1]:
import numpy as np

In [2]:
a = np.arange(1,50, 2)
a

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49])

# arr.reshape

In [3]:
b = a.reshape(5,5)
b

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

# Accessing individual elements

In [4]:
a[2]

5

In [5]:
a[-2]

47

In [6]:
b[2]

array([21, 23, 25, 27, 29])

In [7]:
b[2][2]

25

# np.copy (deep copy)

In [10]:
c = np.copy(b)
c

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

In [11]:
c[2][3] = 999
c

array([[  1,   3,   5,   7,   9],
       [ 11,  13,  15,  17,  19],
       [ 21,  23,  25, 999,  29],
       [ 31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49]])

In [12]:
b

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

# Arithmetic operations

In [13]:
a = np.arange(1,10).reshape(3,3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
b = np.copy(a)
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
a+b

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [16]:
a-b

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [18]:
a*b #individual elemet

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [19]:
a/b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [20]:
1/a

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667],
       [0.14285714, 0.125     , 0.11111111]])

In [21]:
15 // a

array([[15,  7,  5],
       [ 3,  3,  2],
       [ 2,  1,  1]])

In [22]:
15 /a

array([[15.        ,  7.5       ,  5.        ],
       [ 3.75      ,  3.        ,  2.5       ],
       [ 2.14285714,  1.875     ,  1.66666667]])

## Scalar multiplication

In [23]:
a*2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [24]:
a**3

array([[  1,   8,  27],
       [ 64, 125, 216],
       [343, 512, 729]])

In [26]:
# Also
np.power(a, 3)

array([[  1,   8,  27],
       [ 64, 125, 216],
       [343, 512, 729]])

In [27]:
np.add(a, 10)

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

# Slicing

In [28]:
a = np.array([4,5,6,7,8,9])
a

array([4, 5, 6, 7, 8, 9])

In [29]:
a[:]

array([4, 5, 6, 7, 8, 9])

In [30]:
a[2:]

array([6, 7, 8, 9])

In [31]:
a[:2]

array([4, 5])

In [33]:
a[2:6:2]

array([6, 8])

In [34]:
a[::2]

array([4, 6, 8])

In [56]:
b = np.arange(1,50,2).reshape(5,5)
b

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

In [36]:
b[:]

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

In [37]:
b[2:]

array([[21, 23, 25, 27, 29],
       [31, 33, 35, 37, 39],
       [41, 43, 45, 47, 49]])

In [38]:
b[:3]

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29]])

In [39]:
b[:, 2:]

array([[ 5,  7,  9],
       [15, 17, 19],
       [25, 27, 29],
       [35, 37, 39],
       [45, 47, 49]])

In [40]:
b[:, :3]

array([[ 1,  3,  5],
       [11, 13, 15],
       [21, 23, 25],
       [31, 33, 35],
       [41, 43, 45]])

In [41]:
b[2:, :3]

array([[21, 23, 25],
       [31, 33, 35],
       [41, 43, 45]])

In [43]:
x = b[:, 2:4]
x

array([[ 5,  7],
       [15, 17],
       [25, 27],
       [35, 37],
       [45, 47]])

In [44]:
print(x.shape)
print(x.ndim)

(5, 2)
2

In [45]:
y = b[:, 3]
y

array([ 7, 17, 27, 37, 47])

In [46]:
print(y.shape)
print(y.ndim)

(5,)
1

In [47]:
z = b[:, 3:4]
z

array([[ 7],
       [17],
       [27],
       [37],
       [47]])

In [48]:
print(z.shape)
print(z.ndim)

(5, 1)
2

In [49]:
b[::2, ::2]

array([[ 1,  5,  9],
       [21, 25, 29],
       [41, 45, 49]])

# Slicing points to the same array

In [58]:
z = b[2:, :3]
z

array([[21, 23, 25],
       [31, 33, 35],
       [41, 43, 45]])

In [59]:
z[0][0] = 999
z

array([[999,  23,  25],
       [ 31,  33,  35],
       [ 41,  43,  45]])

In [60]:
b

array([[  1,   3,   5,   7,   9],
       [ 11,  13,  15,  17,  19],
       [999,  23,  25,  27,  29],
       [ 31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49]])

In [61]:
# Therefore always use copy
z = b.copy()
z

array([[  1,   3,   5,   7,   9],
       [ 11,  13,  15,  17,  19],
       [999,  23,  25,  27,  29],
       [ 31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49]])

In [62]:
z[0][0] = 888
z

array([[888,   3,   5,   7,   9],
       [ 11,  13,  15,  17,  19],
       [999,  23,  25,  27,  29],
       [ 31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49]])

In [63]:
b

array([[  1,   3,   5,   7,   9],
       [ 11,  13,  15,  17,  19],
       [999,  23,  25,  27,  29],
       [ 31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49]])

# Assignment

In [53]:
b[1] = 400 # Assign all elements of row 1 to 400
b

array([[  1,   3,   5,   7,   9],
       [400, 400, 400, 400, 400],
       [999,  23,  25,  27,  29],
       [ 31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49]])

# Computations & Comparisons

In [64]:
a = np.random.randint(1,20, size = (2,3))
a

array([[ 7, 17,  5],
       [13, 15, 12]])

In [67]:
b = np.random.randint(2,20, size=(2,3))
b

array([[12, 19,  6],
       [13,  4, 11]])

In [68]:
b > a

array([[ True,  True,  True],
       [False, False, False]])

In [69]:
b == a

array([[False, False, False],
       [ True, False, False]])

In [70]:
np.any(b > a)

True

In [71]:
np.all(b>a)

False

In [72]:
np.all(a != b)

False

In [74]:
np.equal(a, 5)

array([[False, False,  True],
       [False, False, False]])

In [75]:
np.greater(a, 6)

array([[ True,  True, False],
       [ True,  True,  True]])

In [76]:
a > 6

array([[ True,  True, False],
       [ True,  True,  True]])

In [77]:
np.greater_equal(a, 6)

array([[ True,  True, False],
       [ True,  True,  True]])

# Computation Aggregation

In [78]:
a

array([[ 7, 17,  5],
       [13, 15, 12]])

In [79]:
b

array([[12, 19,  6],
       [13,  4, 11]])

In [80]:
a.sum()

69

In [81]:
a.max()

17

In [82]:
a.min()

5

In [85]:
a.mean()

11.5

In [86]:
a.std()

4.232808366400098

In [87]:
a.var()

17.916666666666668

In [88]:
# axis-0 -> along the rows
# axis-1 -. along the columns

In [89]:
np.sum(a, axis = 0)

array([20, 32, 17])

In [90]:
a

array([[ 7, 17,  5],
       [13, 15, 12]])

In [91]:
np.sum(a, axis=1)

array([29, 40])

In [94]:
np.min(a, axis=0)

array([ 7, 15,  5])

# Boolean Indexing

In [99]:
names = np.array(['Leo', 'Ali', 'Leo', 'Fox', 'Ali', 'John', 'Max'])
names

array(['Leo', 'Ali', 'Leo', 'Fox', 'Ali', 'John', 'Max'], dtype='<U4')

In [100]:
data = np.random.randint(1, 100, size = (7,4))
data

array([[87, 87, 64,  7],
       [69, 27, 87, 33],
       [64, 59, 14, 27],
       [62, 84, 50, 88],
       [64, 12, 94, 55],
       [45, 91, 16, 62],
       [64, 60, 69, 47]])

In [101]:
names == 'Leo'

array([ True, False,  True, False, False, False, False])

In [102]:
# Apply this boolean array to our 2-D array above
# Select rows where Leo == True
data[names == 'Leo']

array([[87, 87, 64,  7],
       [64, 59, 14, 27]])

In [103]:
data[names != 'Leo']

array([[69, 27, 87, 33],
       [62, 84, 50, 88],
       [64, 12, 94, 55],
       [45, 91, 16, 62],
       [64, 60, 69, 47]])

In [104]:
data[~(names == 'Leo')]

array([[69, 27, 87, 33],
       [62, 84, 50, 88],
       [64, 12, 94, 55],
       [45, 91, 16, 62],
       [64, 60, 69, 47]])

In [105]:
leo_or_fox = (names == 'Leo') | (names == 'Fox')
leo_or_fox

array([ True, False,  True,  True, False, False, False])

In [106]:
data[leo_or_fox]

array([[87, 87, 64,  7],
       [64, 59, 14, 27],
       [62, 84, 50, 88]])

In [108]:
data[~leo_or_fox]

array([[69, 27, 87, 33],
       [64, 12, 94, 55],
       [45, 91, 16, 62],
       [64, 60, 69, 47]])